@model Product


@{
    ViewBag.Title = "ProductDetail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>ProductDetail</h2>

<!DOCTYPE HTML>
<html>
<body>
   
    <div class="fh5co-loader"></div>

    <div id="page">
        <div id="fh5co-author">
            <div class="container">

                <div class="row top-line animate-box">
                    <div class=" col-md-6 col-md-6">
                        <a href="@Model.ImagePath">

                            <img src="@Model.ImagePath" class="img-responsive" style="width:600px;height:350px; margin:auto;" />
                        </a>

                    </div>
                    <div class=" col-md-6 col-md-6">
                        @if (@TempData["stoktaYok"] != null)
                        {
                            <h2 class="alert alert-warning">@TempData["stoktaYok"]</h2>

                        }

                        <h2>@Model.ProductName </h2>
                        <p>@Model.Category.CategoryName</p>

                        <div class="role">
                            <h3>Eser Detayları</h3>
                            <ul>
                                <li>Boyutu: @Model.ProductSize</li>
                                <li>Özellikleri: @Model.Description</li>
                                <li>Adet: @Model.UnitInStock</li>
                                <li>Fiyatı: @Model.UnitPrice.ToString("C2")</li>

                            </ul>
                        </div>
                    </div>
                    <p>
                        @Html.ActionLink("Sepete Ekle", "AddToCart", new { @id = Model.ID }, new { @class = "btn btn-warning" })
                        @Html.ActionLink("Sepete Git", "CartPage", "Member", new { @id = Model.ID }, new { @class = "btn btn-warning" })

                    </p>
                </div>

            </div>
        </div>

    </div>

    <div class="gototop js-top">
        <a href="#" class="js-gotop"><i class="icon-arrow-up"></i></a>
    </div>


</body>
</html>

